.Contact__mainContainer {
	width: 100vw;
	background-color: var(--three);
	border-bottom: 2px solid var(--five);
	padding: 40px 0 80px 0;
	position: relative;
}
.Contact__container {
	width: 960px;
	max-width: 960px;
	position: relative;
	top: 0;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.Contact__IconTitleContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px 0;
}
.Contact__IconTitleContainer > .MuiSvgIcon-root {
	font-size: 50px;
	color: var(--four);
}
.Contact__title {
	color: var(--four);
	font-size: 2.3rem;
}
.Contact__MailButton {
	position: relative;
	right: 155px;
}
.Contact_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.Contact__formName,
.Contact__formEmail,
.Contact__formMessage {
	position: relative;
	right: 90px;
	color: var(--five);
	letter-spacing: 2px;
}
.Contact__formNameContainer,
.Contact__formEmailContainer,
.Contact__formMessageContainer {
	margin: 40px 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.Contact__formNameContainer > .MuiFormControl-root {
	width: 280px;
}
.Contact__formEmailContainer > .MuiFormControl-root {
	width: 280px;
}
.Contact__formMessageContainer > .MuiFormControl-root {
	width: 290px;
	position: relative;
	right: 10px;
}
.Contact__formMessageContainer .MuiOutlinedInput-input {
	padding: 18.5px 0;
}
.Contact__sendButton .MuiButton-iconSizeMedium > *:first-child {
	display: none !important;
}
.Contact__input .MuiInputBase-input {
	font-size: 1.5rem;
	color: var(--five);
	letter-spacing: 1px;
}
.Contact__sendButton {
	font-size: 1.8rem !important;
}
.Contact__sendButton .MuiButton-label {
	line-height: 1.3 !important;
}
.Contact__formContainer {
	padding: 30px 10px;
	border-radius: 40px;
}
@media only screen and (max-width: 942px) {
	.Contact__container {
		width: 100vw;
	}
	.Contact__formContainer {
		padding: 30px 0px;
	}
	.Contact__IconTitleContainer > .MuiSvgIcon-root {
		font-size: 40px;
	}
	.Contact__title {
		font-size: 1.7rem;
	}
	.Contact__sendButton {
		font-size: 1.3 !important;
	}
	.Contact__MailButton {
		right: 15px;
	}
}
@media only screen and (max-width: 578px) {
	.Contact__formNameContainer,
	.Contact__formEmailContainer,
	.Contact__formMessageContainer {
		flex-direction: column;
	}
	.Contact__formName,
	.Contact__formEmail,
	.Contact__formMessage {
		opacity: 0.5;
		right: 0;
		bottom: 20px;
	}
}
