html {
	scroll-behavior: smooth;
}
.header__container {
	position: fixed;
	width: 100vw;
	z-index: 999;
	height: 0;
	opacity: 0;
	background-color: var(--three);

	transition: height 1s, opacity 1s;

	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
		rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.header__containerList {
	position: relative;
	margin-top: 20px;
	list-style-type: none;
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}
.header__item {
	color: var(--five);
	font-weight: 800;
	letter-spacing: 1px;
}
.header__container.visible {
	height: 170px;
	opacity: 1;
}
.header__themeWebsiteContainer {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	padding: 0 75px;
}
.header__themeContainer {
	display: flex;
	align-items: center;
}
.header__themeContainer p {
	font-size: 1.2rem;
	margin-left: 10px;
	color: var(--five);
	opacity: 0.7;
}
.header__themeSmallContainer {
	display: flex;
}
.header__theme {
	width: 30px;
	height: 30px;
	cursor: pointer;

	border-radius: 50%;
	margin: 0 10px;
	opacity: 0.2;
}
.color1 {
	background-color: #0e3658;
}
.color2 {
	background-color: #7d30fa;
}
.color3 {
	background-color: #102754;
}
.color4 {
	background-color: #474242;
}
.color5 {
	background-color: #143959;
}
.activeColor {
	opacity: 1;
	border: 2px inset white;
	transform: scale(1.1);
}
.header__goToWebsiteContainer {
	display: flex;
	align-items: center;
	opacity: 0.5;
	padding: 12px;
	cursor: pointer;

	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
		rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.header__goToWebsiteContainer:hover {
	background-color: var(--one);
	opacity: 1;
}
.header__goToWebsiteContainer > p {
	font-size: 1.2rem;
	padding-right: 20px;
	color: var(--five);
}

.header__goToWebsiteContainer:hover p {
	color: var(--four);
}
.header__goToWebsiteContainer:hover > .MuiSvgIcon-root {
	color: var(--four);
}
.header__goToWebsiteContainer > .MuiSvgIcon-root {
	color: var(--five);
	font-size: 1.2rem;
}
@media only screen and (max-width: 916px) {
	.header__themeWebsiteContainer {
		padding: 0 20px;
	}
	.header__item {
		font-size: 1.2rem;
	}
	.header__theme {
		width: 20px;
		height: 20px;
	}
	.header__goToWebsiteContainer > p {
		font-size: 0.8rem;
	}
	.header__goToWebsiteContainer {
		padding: 8px;
	}
	.header__container.visible {
		height: 130px;
	}
}
@media only screen and (max-width: 651px) {
	.header__themeContainer {
		flex-direction: column;
	}
	.header__themeWebsiteContainer {
		margin-top: 10px;
	}
	.header__themeContainer p {
		margin-bottom: 10px;
		font-size: 1rem;
		opacity: 0.5;
	}
	.header__goToWebsiteContainer {
		height: 20px;
	}
	.header__item {
		font-size: 1rem;
	}
	.header__theme {
		margin: 0 5px;
	}
	.header__goToWebsiteContainer > p {
		padding-right: 10px;
	}
	.header__containerList .MuiIconButton-root {
		padding: 12px 0;
	}
}
